button {
    font-family: inherit;
    font-size: var(--fs-600);
    cursor: pointer;
    outline: 0;
    border: 0;
}
.btn-primary {
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 40px;
    background: #2463ff;
    box-shadow:
        inset 0 -2px 0 3px #140e66,
        inset 0 1px 0 6px #3c74ff;

    &:hover {
        background: linear-gradient(rgba(255, 255, 255, 25%), rgb(255, 255, 255, 25%)), #2463ff;
    }
}
.btn-secondary {
    background: linear-gradient(#fe71fe, #7199ff);
    box-shadow:
        inset 0 -2px 0 3px #140e66,
        inset 0 1px 0 6px #c642fb;
    color: var(--clr-white);
    padding: 1rem 3rem;
    border-radius: 40px;
    &:hover {
        background: linear-gradient(rgba(255, 255, 255, 25%), rgb(255, 255, 255, 25%)),
            linear-gradient(#fe71fe, #7199ff);
    }
}

.btn-play {
    background: linear-gradient(#fe71fe, #7199ff);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    box-shadow:
        inset 0 -4px 0 5px #140e66,
        inset 0 -12px 0 11px #c642fb;

    padding: 3rem;
    &:hover {
        background: linear-gradient(rgba(255, 255, 255, 25%), rgb(255, 255, 255, 25%)),
            linear-gradient(#fe71fe, #7199ff);
    }
}
@media (min-width: 37.5rem) {
    .btn-play {
        width: 200px;
        height: 200px;
    }
}

.btn-circle {
    background: linear-gradient(#fe71fe, #7199ff);
    border-radius: 50%;
    box-shadow: inset 0 -5px 0 -1px rgba(157, 45, 245, 25%);
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    & img {
        width: 18px;
    }
    &:hover {
        background: linear-gradient(rgba(255, 255, 255, 25%), rgb(255, 255, 255, 25%)),
            linear-gradient(#fe71fe, #7199ff);
    }
}

@media (min-width: 37.5rem) {
    .btn-circle {
        width: 64px;
        height: 64px;
        & img {
            width: 28px;
        }
    }
}

@media (min-width: 69.375rem) {
    .btn-circle {
        width: 94px;
        height: 94px;
        & img {
            width: 41px;
        }
    }
}

.btn-category {
    background-color: var(--clr-secondary);
    font-size: var(--fs-700);
    border-radius: 20px;
    color: var(--clr-white);

    box-shadow:
        inset 0 -2px 0 3px #140e66,
        inset 0 1px 0 6px #3c74ff;

    padding: 1.5rem 3rem;
    &:hover {
        background: linear-gradient(rgba(255, 255, 255, 25%), rgb(255, 255, 255, 25%)), var(--clr-secondary);
    }
}

@media (min-width: 48rem) {
    .btn-category {
        padding: 72px 0;
        border-radius: 40px;
    }
}

/*playable letter */
.letter {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    border-radius: 12px;
    font-size: 40px;
    box-shadow:
        inset 0 -2px 0 3px #140e66,
        inset 0 1px 0 6px #3c74ff;
    padding: 1rem 1rem;

    &:hover {
    }
    &:not(:first-child) {
        margin-left: 0.5rem;
    }
    &:disabled {
        opacity: 0.25;
        & span {
            opacity: 0;
        }
    }
}

@media (min-width: 37.5rem) {
    .letter {
        border-radius: 2rem;
        font-size: 48px;
        padding: 2rem;
    }
}

@media (min-width: 48rem) {
    .letter {
        border-radius: 2rem;
        font-size: 64px;
        padding: 2rem;
    }
}

@media (min-width: 69.375rem) {
    .letter {
        width: 112px;
        height: 128px;
        border-radius: 2rem;
        font-size: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/*keyboard letters*/
.keyboard-letter {
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    color: var(--clr-primary);
    font-size: var(--fs-700);
    &:not(:disabled):hover {
        background-color: var(--clr-secondary);
        color: var(--clr-white);
    }

    &:disabled {
        opacity: 0.25;
    }
}

@media (min-width: 48rem) {
    .keyboard-letter {
        border-radius: 24px;
    }
}

.modal {
    max-width: 592px;
    height: 500px;
    padding: 0 3rem;
    background: linear-gradient(#344aba, rgba(0, 20, 121, 83%));
    box-shadow:
        inset 0 -8px 0 4px #140e66,
        inset 0 6px 0 8px #2463ff;

    border-radius: 72px;
    width: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);

    left: 0;
    right: 0;
    margin: 0 auto;
    & .header {
        max-width: 80%;
        display: grid;
        place-content: center;
        position: absolute;
        top: -20%;

        & img {
            max-width: 100%;
            margin: 0 auto;
        }
    }
}

h1 {
    font-size: var(--fs-900);
    background: linear-gradient(#67b6ff, #fff);
    background-clip: text;
    color: transparent;
    position: relative;
}
/* h1::after {
    content: "How to Play";
    text-shadow: #243041 0px 0px;
    color: transparent;
    position: absolute;
    left: 0;
    z-index: -1;
}
 */
